/* Defina fontes padrão */
body {
    font-family: 'Arial', sans-serif;
  }
  
  /* Defina o tamanho de fonte base e a linha de base */
  body {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* Estilo de cabeçalhos */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 2em;
  }
  
  h2 {
    font-size: 1.5em;
  }
  
  h3 {
    font-size: 1.17em;
  }
  
  h4 {
    font-size: 1em;
  }
  
  h5 {
    font-size: 0.83em;
  }
  
  h6 {
    font-size: 0.67em;
  }
  
  /* Estilo de parágrafos */
  p {
    margin-bottom: 15px;
  }
  
  /* Estilo de listas */
  ul, ol {
    margin-bottom: 15px;
  }
  
  /* Estilo de links */
  a {
    color: #007bff; /* Cor padrão do link */
    text-decoration: underline; /* Adiciona sublinhado por padrão */
  }
  
  a:hover {
    color: #0056b3; /* Cor do link ao passar o mouse */
  }